  @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
body{
  background-color: #1E1E1E;
  width: 100;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Fira Code', monospace;
  color: rgb(255, 255, 255);
}
.Home{
  width: 90vw;
}
.navbarwrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbarwrapper h1{
  color: white;
}
.navbarwrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_links li a{
  color: white;
  text-decoration: none;
}
.nav_links li {
  display: inline-block;
  padding: 0 1em;
  color: white;
}
span{
  color: #C778DD;
}
.herotext h2{
  color: white;
  font-size: 8vmin;
  font-weight: bold;
}
.herotext p{
  color: white;
  font-size: 3vmin;
}
.herotext button{
  background-color: transparent;
  border: 2px solid #C778DD;
  line-height: 3;
  min-width: 25vmin;
  max-width: 35vmin;
  font-family: 'Fira Code', monospace;
  padding: 0 0.5em;
  color: white;
  font-size: 4vmin;
  font-weight: bold;
}
.herowrapper{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.purple_box{
  width: 3vmin;
  height: 3vmin;
  background-color: #C778DD;
  margin-right:1em ;
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.5;
  font-size: 3vmin;
  color: #878686;
  border: 2px solid rgb(175, 172, 172);
}
.quote_wrapper{
  position: relative;
  height: 7.3em;
  margin-top: 5%;

}

.legend_two{
   background-color: #1E1E1E;

}
.fieldset_two{
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
}
.herp_img_wrapper{
  position: relative;
}
.herp_img_wrapper .profilepic{
 width: 80vmin;
}
.dots1{
  top: 20%;
  left: 15%;
  position: absolute;
}
.dots2{
  bottom: 20%;
  right: 15%;
  position: absolute;
}
.homeProjects_head{
  position: relative;
   display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7%; 
  margin-bottom: 1.5%; 

}
.homeProjects_head_two{
   position: absolute;
  top:  0;
  right: 0; 
  font-size: 3vmin;
}
.homeProjects_head_one{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vmin;
  width: fit-content;
  height: fit-content;
}
.homeProjects_head_one p, .homeProjects_head_one h2{
  margin: 0;
}
#line_design{
  margin-left: 5px;
  background-color: #C778DD;
  height: 2px;
  width: 13em;
}
.dd{
   display: grid;
   grid-template-columns: auto auto auto;
   gap:5px ;
  width: 70vw;
}
.d{
 width: fit-content;
 height: 20rem;
 background-color: #685c5c;
}
.skill_box_wrapper, .skils_home{
  display: flex;
  justify-content: space-evenly;
}
.skill_box{
  border: 2px solid #908d8d;
  display: grid;
  padding: 0 0.5em;
  margin: 0.5em;
  grid-template-columns: auto;
}
.skill_box h4{
  border: 2px solid #908d8d;
  display: flex;
  padding: 0.7em;
  margin: 0.5em;
}
.home_about_desc_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2vmin;
}
.contact_details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2vmin;
}
.contact_box a{
  display: flex;
  align-items: center;
  padding: 0;
  text-decoration: none;
  margin: 0%;
  font-size: 2vmin;
  color: #878686;

}
.contact_box a i{
  font-size: 4vmin;
  margin-right: 10px;

}
.contact_box{
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(139, 133, 133);
  align-items: center; 
 padding: 2em;
}